<div class="main">
    
    
    <div class="container">

        <div class="middle">
            <div id="login">

                <form [formGroup]="loginForm">

                    <fieldset class="clearfix">

                        <p >
                            <span class="fa fa-user"></span>
                            <input type="text"  Placeholder="Username" formControlName="username" required autofocus>
                        </p> 
                        <p>
                            <span class="fa fa-lock"></span>
                            <input type="password"  Placeholder="Password" formControlName="password" required autofocus>
                        </p> 
                    
                        <div>
                            <span style="width:48%; text-align:left;  display: inline-block;">
                                <a class="small-text" href="#">Registrarse</a>
                            </span>
                            <span style="width:50%; text-align:right;  display: inline-block;">
                                <input type="submit" value="Ingresar" (click)="submit()" [disabled]="loginForm.invalid">
                            </span>
                        </div>

                    </fieldset>
                    <div class="clearfix"></div>
                </form>

                <div class="clearfix"></div>

            </div> <!-- end login -->
            <div class="logo">
                <img class="img-logo" src="https://image.freepik.com/vector-gratis/lindo-logo-carrito-compras_23-2148453859.jpg" alt="">
                
                <div class="clearfix"></div>
            </div>
            
        </div>

    </div>

</div>